{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/discover.css">
{% endblock %}


{% block content %}
	<div class="container">
		<h1>DISCOVER MARS</h1>
		<section class="planet_mars d-flex flex-column">
			<img src="https://cdn.pixabay.com/photo/2016/04/13/06/40/mars-1326108_960_720.jpg" alt="planet_mars">
			<p class="my-5 text-justify">The planet Mars is the best place to live your second life. The average temperature on Mars is minus 80 degrees Fahrenheit -- way below freezing!
            Mars is rocky with canyons, volcanoes and craters all over it. Red dust covers almost all of Mars. It has clouds and wind, just as Earth does. Sometimes the wind blows the red dust into a dust storm. Tiny dust storms can look like tornados, and large ones can cover the whole planet! 
			</p>
		</section>
		<section class="latest_news">
			<h2>Latest News</h2>
			<div class="d-flex justify-content-around">
				<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mb-5">
					{% for new in news %}
						<div class="col card-group">
							<div class="card">
								<div class="card_discover">
									<img class="card-img-top" src="{{new.imageUrl}}" width="400px" height="300px" alt="news on mars">
									<div class="card-body">
										<h3 class="card-title">{{new.title}}</h3>
										<p class="card-text">{{new.summary}}</p>
                                        <p class="card-text"><small class="text-muted">published at : {{new.publishedAt|date("m/d/Y")}}</small></p>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
            </div>
		</section>
	</div>
{% endblock %}
