.aboutUs{
    margin-top: 100px;
}

.bg-darkbrown{
    background-color: var(--primary);
}

.carousel-photo img{
    max-width:100%;
    height:500px;
    object-fit: cover;
}

h3{
    color: var(--element-color);
}

h4{
    font-size:30px;
}

p{
    color: var(--white-color);

}

.error{
    color:var(--element-color);
}
