.container h1 {
    margin-top: 100px;
}

.latest_news h2 h3 {
    color: var(--secondary-color);
    font-family: var(--title-font);
    margin-top: 300px;
}

.card_discover {
    background-color: var(--secondary-color);
    text-align: center;
}

p {
    font-family: var(--text-font);
    font-size: var(--paragraph-size);
}

.planet_mars {
    width: 100%;
}

.planet_mars img {
    border: 8px solid var(--element-color);
}

.planet_mars p {
    color: var(--secondary-color);
}

.weather {
    background-color: var(--primary-color) !important;
}