.container{
    margin-top:100px;
}

.intro {
    color: var(--secondary-color);
}

.card-title{
    color: var(--primary-color);
}

.btn{
    cursor: default;
}

.contact-us{
    cursor: pointer;
}

.btn-comfort, .btn-comfort:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color:  var(--secondary-color);
    cursor: default;
}

.btn-success{
    cursor: default;
}

.btn-luxury{
    background-color: var(--element-color);
    border-color: var(--element-color);
    cursor: default;
}

.contact-us{
    cursor: pointer;
}
