.hero-image {
    color: var(--white-color);
    background-image: url("/assets/images/mars3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    width: 100%;

}

.hero-image h1 {

    color: var(--light-color);
    text-transform: uppercase;
    font-family: var(--title-font);


}


.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white-color);
    margin-bottom: 150px;
}


.scrollDown {

    margin-top: 100px;

}


.scrollTitle {
    font-size: 1em;
    margin: 20px auto;
}


.cardStyle {
    height: 600px;

}


.btn-element {
    background-color: var(--element-color);
    color: var(--secondary-color);
}

.testimonialSection {

    max-height: 600px;
    background-color: var(--element-color);
    overflow-y: scroll;
    margin: auto;
    width: 80%;
}

.testimonialSection p {
    font-size: 1em;
}

.comfortLabel {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.luxuryLabel {
    background-color: var(--element-color);
    color: var(--secondary-color);
}

.valueLabel {
    background-color: var(--green-color);
    color: var(--secondary-color);
}

.avatar {
    border-radius: 100px;

}