{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/aboutUs.css">
{% endblock %}

{% block content %}
<section class="aboutUs container text-center">
    <h2 class="text-center">
        ABOUT US
    </h2>
    <div class="card mb-5 bg-darkbrown">
        <div class="row g-0 border-2 rounded">
            <div class="col-md-4 ">
                <div class="photo-percy">
                    <img src="../assets/images/robot2.jpg" alt="alien" class="alien rounded-circle"
                        width="300px" height="300px" />
                </div>
                <div class="photo-owner text-center">
                    <h3 class="card-title mt-3 text-light">Percy</h3>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card-body row mt-3">
                    <div class="row mt-xs-5 mt-md-0">
                        <div class="col-4 text-start">
                            <p class="card-title text-light">
                                Landed on Mars: </br>
                                Speciality:
                            </p>
                            </div>
                        <div class="col-8 text-start">
                            <p class="col-12  text-light">
                                February 2021 </br>
                                Look for signs of past or present life - and see if humans could one day explore Mars.
                            </p>
                        </div>
                    </div>
                    <div class="row mt-xs-5 mt-md-0">
                        <p class="col-12 text-light text-start">
                               Percy is searching for signs of ancient life. He is  is landing in a place with a high potential for finding these signs of past microbial life.
                               He is  also collecting important data about Mars’ geology and climate. He rovers embodies the NASA – and the scientific – spirit of overcoming challenges. 
                               He is  is the first leg of a round trip to Mars who carries instruments and technology that will help pave the way for future human missions to the Moon and Mars.
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="card mb-3 bg-darkbrown">
        <div class="row g-0">
            <div class="col-md-8 mt-5">
                <div class="card-body row">
                    <div class="row mt-xs-5 mt-md-0">
                        <div class="col-4 text-start">
                            <p class="card-title text-light">
                                Landed on Mars: </br>
                                Speciality:
                            </p>
                        </div>
                        <div class="col-8 text-start">
                            <p class="col-12 text-light">
                                August 2012</br>
                                Finding chemical and mineral evidence of past habitable environments on Mars 
                            </p>
                        </div>
                    </div>
                    <div class="row mt-xs-5 mt-md-0">
                        <p class="col-12 text-light text-start">
                        Ginny set out to answer the question: Did Mars ever have the right environmental conditions to support small life forms called microbes?
                       Ginny explores Gale Crater and acquires rock, soil, and air samples for onboard analysis. She carries the biggest, most advanced instruments for scientific studies ever sent to the Martian surface.
                        She landed on hers wheels, the tether was cut, and the landing system flew off to crash-land a safe distance away.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-3">
                <div class="photo-ginny">
                    <img src="../assets/images/robot1.jpeg" alt="alien" class="alien rounded-circle"
                        width="300px" height="300px" />
                </div>
                <div class="photo-owner text-center">
                    <h3 class="card-title mt-3 text-light">Ginny</h3>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="carousel-photo container my-5">
    <h2 class="text-center my-5">
        OUR FUN LIFE ON MARS
    </h2>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../assets/images/newyear.jpg" class="d-block w-100" alt="new year on mars">
      <div class="carousel-caption d-none d-md-block">
        <h5>Happy Mars New Year</h5>
        <p>We celebrate New Year on Mars.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/images/birthday.jpeg" class="d-block w-100" alt="robot birthday party on mars">
      <div class="carousel-caption d-none d-md-block">
        <h5>Birthday party</h5>
        <p>We also celebrate my birthday as people do on earth.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../assets/images/snowmoon.webp" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Moon watching</h5>
        <p>We enjoy relaxing moments by watching snow moon.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>

{% endblock %}